<p-columnFilter field="{{tipoColumn}}"
        [showMenu]="false" 
        [showClearButton]="false">
    <ng-template pTemplate="filter" let-filter="filterCallback">
        <p-dropdown [options]="arrValues" 
            optionLabel="{{optLabel}}"
            placeholder="todos"             
            (onChange)="filter(ajusteFilter($event));"
            [showClear]="true"
            [filter]="true"
            [resetFilterOnHide]="true">
        </p-dropdown>
    </ng-template>
</p-columnFilter>