<p class="title-bar-1">Despesas</p>
<p-toast></p-toast>
<p-tabView (onChange)="setTabCadastro(null, tabDespesa)" #tabDespesa
    [(activeIndex)]="selectedTabIndex">
    <p-tabPanel header="Consulta">
        <app-despesa-grid [tiposDespesaFilter]="tiposDespesa"
            [formasPagamentoFilter]="formasPagamento"
            [fornecedoresFilter]="fornecedores"
            [loading]="loading"
            (indexTabChange)="setTabCadastro($event, tabDespesa)">
        </app-despesa-grid>
    </p-tabPanel>
    <p-tabPanel header="Casdastro">
        <app-despesa-form [tiposDespesa]="tiposDespesa"
        [formasPagamento]="formasPagamento"
        [fornecedores]="fornecedores"
        [despesaCadastro]="despesaEdicao"
        [tiposInformacaoExtra]="tiposInformacaoExtra"
        [loading]="loading"
        (submitFormEmmit)="setTabCadastro(null, tabDespesa)">
    </app-despesa-form>
    </p-tabPanel>
    <p-tabPanel header="Gráficos">
        <app-despesa-chart></app-despesa-chart>
    </p-tabPanel>
    <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-tabView>