<p class="title-bar-1">Contas</p>
<p-toast></p-toast>
<p-tabView [activeIndex]="tabSelected" (onChange)="changeTab($event)">
    <p-tabPanel header="Consulta">
        <p-table [value]="contas" 
        [loading]="loading" 
        [lazy]="true" 
        (onLazyLoad)="loadData($event)"
        [rowsPerPageOptions]="[10,15,20,25,30,40]" 
        [alwaysShowPaginator]="true" 
        [paginator]="true"
        [showCurrentPageReport]="true" 
        [totalRecords]="totalElements" 
        [rows]="pageSize" 
        [sortOrder]="-1"
        sortField="vencimento"
        currentPageReportTemplate="Mostrando {first} a {last} de {{totalElements}} despesas" 
        dataKey="id" #dt
        selectionMode="single" W
        styleClass="p-datatable-striped p-datatable-sm"
        [(contextMenuSelection)]="contaSelecionada">
        <ng-template pTemplate="header">
            <tr>
                <th class="columnExpand"></th>
                <th pSortableColumn="id" class="columnId">Id
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="tipoConta">Tipo Conta
                    <p-sortIcon field="tipoConta"></p-sortIcon>
                </th>
                <th pSortableColumn="emissao" class="columnDate">Emissão
                    <p-sortIcon field="emissao"></p-sortIcon>
                </th>
                <th pSortableColumn="vencimento" class="columnDate">Vencimento
                    <p-sortIcon field="vencimento"></p-sortIcon>
                </th>
                <th class="centerText">Parcelas</th>
                <th class="centerText">Valor</th>
                <th class="columnStatus">Status</th>
                <th class="columnActionBt">Editar</th>
                <th class="columnActionBt">Excluir</th>
            </tr>
            <tr>
                <th class="columnExpand"></th>
                <th class="columnId">
                    <p-columnFilter field="id"
                            [showMenu]="false" 
                            [showClearButton]="false">
                        <ng-template pTemplate="filter" let-filter="filterCallback">
                            <p-inputNumber mode="decimal" inputId="withoutgrouping" 
                            (onInput)="filter($event.value)"
                            [useGrouping]="false">
                        </p-inputNumber>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="tipoConta"
                        [showMenu]="false" 
                        [showClearButton]="false">
                        <ng-template pTemplate="filter" let-filter="filterCallback">
                            <p-dropdown [options]="tiposConta" 
                                optionLabel="nome"
                                placeholder="todos" 
                                (onChange)="$event.value ? filter($event.value) : filter($event.value)"
                                [showClear]="true"
                                [resetFilterOnHide]="true">
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="periodoVencimento"
                    [showMenu]="false" 
                    [showClearButton]="false">
                        <ng-template pTemplate="filter" let-filter="filterCallback">
                            <p-calendar selectionMode="range" [readonlyInput]="true" 
                                [showButtonBar]="true"
                                rangeSeparator="até"
                                appendTo="body"
                                inputId="range"
                                [panelStyle]="{'width':'788'}"
                                dateFormat="dd/mm/yy"                                    
                                #periodoVencimentos
                                (onSelect)="filter(periodoVencimentos.value)">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="periodoEmissao"
                    [showMenu]="false" 
                    [showClearButton]="false">
                        <ng-template pTemplate="filter" let-filter="filterCallback">
                            <p-calendar selectionMode="range" [readonlyInput]="true" 
                                [showButtonBar]="true"
                                rangeSeparator="até"
                                appendTo="body"
                                inputId="range"
                                [panelStyle]="{'width':'788'}"
                                dateFormat="dd/mm/yy"                                    
                                #periodoEmissoes
                                (onSelect)="filter(periodoEmissoes.value)">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-conta let-expanded="expanded" let-ri="rowIndex">
            <tr>
                <td class="columnExpand">
                    <button type="button" pButton pRipple [pRowToggler]="conta"                     
                    class="p-button-text p-button-rounded p-button-plain p-button-sm smallBt" 
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                </td>
                <td class="columnId">{{conta.id}}</td>
                <td>{{conta.tipoConta.nome}}</td>
                <td class="columnDate">
                    {{conta.emissao | date: 'dd/MM/yyyy'}}
                </td>
                <td class="columnDate">
                    {{conta.vencimento | date: 'dd/MM/yyyy'}}
                </td>
                <td class="centerText">{{conta.parcela}}/{{conta.totalParcela}}</td>
                <td class="columnValor">{{conta.valor | currency:'BRL':true:'1.2-2'}}</td>
                <td class="columnStatus" [ngSwitch]="conta.intStatus"
                    [ngStyle]="{'background-color': getBackgroundColorStatus(conta.intStatus)}">
                    <p-message severity="info" text="{{conta.status}}" *ngSwitchCase="1"></p-message>
                    <p-message severity="warn" text="{{conta.status}}" *ngSwitchCase="0"></p-message>
                    <p-message severity="error" text="{{conta.status}}" *ngSwitchCase="-1"></p-message>
                    <p-message severity="success" text="{{conta.status}}" *ngSwitchCase="2"></p-message>
                    <p-message severity="custom" text="{{conta.status}}" *ngSwitchCase="3" icon="pi-file"></p-message>                        
                </td>
                <td class="columnActionBt">
                    <button pButton pRipple type="button" icon="pi pi-pencil" 
                        (click)="onEditSave(conta)"
                        class="p-button-rounded p-button-text p-button-sm smallBt">
                    </button>
                </td>
                <td class="columnActionBt">
                    <button pButton pRipple type="button" icon="pi pi-trash"
                        (click)="excluirConta(conta)"
                        class="p-button-rounded p-button-text p-button-sm p-button-danger smallBt">
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-conta>
            <tr>
                <td [attr.colspan]="5">
                    <div class="table">
                        <div class="row">
                            <div class="cell">Número: </div>
                            <div class="cell">{{conta.numero}}</div>
                        </div>
                        <div class="row">
                            <div class="cell">Código de Barras:</div>
                            <div class="cell">{{conta.codigoBarra}}</div>
                        </div>
                        <div class="row">
                            <div class="cell">Data do Pgto:</div>
                            <div class="cell">{{conta.dataPagamento | date: 'dd/MM/yyyy'}}</div>
                        </div>
                        <div class="row">
                            <div class="cell">Forma Pgto:</div>
                            <div class="cell">{{conta.formaPagamento.nome}}</div>
                        </div>
                        <div class="row">
                            <div class="cell">Valor Pago:</div>
                            <div class="cell">{{conta.valorPago  | number : '1.2-2'}}</div>
                        </div>
                    </div>
                </td>
                <td [attr.colspan]="5">
                    <div class="table" 
                    *ngIf="conta.tipoConta.contaCartao && conta.lancamentoContaCartao>0">
                        <div class="row">
                            <div class="cell centerText">Data</div>
                            <div class="cell">Fornecedor</div>
                            <div class="cell">Valor</div>
                            <div class="cell centerText">Parcelas</div>
                        </div>
                        <div class="row" *ngFor="let lcc of conta.lancamentoContaCartao">
                            <div class="cell centerText">{{lcc.data  | date: 'dd/MM/yyyy'}}</div>
                            <div class="cell">{{lcc.fornecedor.nome}}</div>
                            <div class="cell rightText">{{lcc.valor  | number : '1.2-2'}}</div>
                            <div class="cell centerText">{{lcc.parcela}}/{{lcc.totalParcela}}</div>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td [attr.colspan]="6" style='text-align: right;'>Total:</td>
                <td style="text-align: right;">{{totalValor | number : '1.2-2' }}</td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
    </p-tabPanel>
    <p-tabPanel header="Cadastro">
        <div class="table">
            <div class="row">
                <div class="cell">
                    <form [formGroup]="contaForm" (ngSubmit)="onSubmit(dt)">
                        <div class="table">
                            <div class="row">
                                <div class="cell">Código de Barras: </div>
                                <div class="cell">
                                    <p-inputMask mask="99999999999999999999999999999999999999999999999"
                                    [(ngModel)]="contaCadastro.codigoBarra"
                                    formControlName="inputCodigoBarra"
                                    #inputCodigoBarra
                                    [maxlength]="48" [size]="55" [autoClear]="true" slotChar="*">
                                    </p-inputMask>
                                    <p-message severity="error" text="Código de Barras obrigatória"
                                                *ngIf="!contaForm.controls['inputCodigoBarra'].valid
                                                && contaForm.controls['inputCodigoBarra'].dirty">
                                    </p-message>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Número: </div>
                                <div class="cell">
                                    <input type="text" pInputText [size]="30" 
                                    [(ngModel)]="contaCadastro.numero"
                                    formControlName="inputNumero"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Tipo Conta: </div>
                                <div class="cell">
                                    <p-dropdown [options]="tiposConta" optionLabel="nome"                                    
                                    [(ngModel)] = "contaCadastro.tipoConta"
                                    formControlName="comboTipoConta"
                                    scrollHeight="350px"
                                    #inputTipoConta
                                    [filter]="true"
                                    [resetFilterOnHide]="true"
                                    [style]="{'width':'300px'}">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Emissão: </div>
                                <div class="cell">
                                    <p-inputMask mask="99/99/9999" characterPattern="[0-9]"
                                        [(ngModel)]="contaCadastro.emissao"
                                        [size]="8"
                                        formControlName="inputEmissao">
                                    </p-inputMask>
                                Vencimento: 
                                    <p-inputMask mask="99/99/9999" characterPattern="[0-9]"
                                        [(ngModel)]="contaCadastro.vencimento"
                                        [size]="8"
                                        formControlName="inputVencimento">
                                    </p-inputMask>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Parcelas: </div>
                                <div class="cell">
                                    <p-inputMask mask="99" [autoClear]="false"
                                                    [style]="{'max-width': '60px'}"
                                                    [(ngModel)]="contaCadastro.parcela"
                                                    formControlName="inputParcela"
                                                    slotChar="">
                                    </p-inputMask> /
                                    <p-inputMask mask="99" [autoClear]="false"
                                                    [style]="{'max-width': '60px'}"
                                                    [(ngModel)]="contaCadastro.totalParcela"
                                                    formControlName="inputTotalParcela"
                                                    slotChar="">
                                    </p-inputMask>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Valor: </div>
                                <div class="cell">
                                    <input-money 
                                        [form]
                                        [ngModel]="contaCadastro.valor">
                                    </input-money>
                                    <!-- <input type="text" pInputText
                                    (keyup)="maskaraMoeda($event)"
                                    [(ngModel)]="contaCadastro.valor"
                                    formControlName="inputValor"/> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Obs: </div>
                                <div class="cell">
                                    <input type="text" pInputText
                                    [(ngModel)]="contaCadastro.obs"
                                    formControlName="inputObservacao"
                                    size="48"/>
                                </div>
                            </div>
                        </div>
                        <p-divider>Pagamento</p-divider>
                        <div class="table">
                            <div class="row">
                                <div class="cell">Data Pagamento: </div>
                                <div class="cell">
                                    <p-inputMask mask="99/99/9999" characterPattern="[0-9]"
                                        [(ngModel)]="contaCadastro.dataPagamento"
                                        [size]="8"
                                        formControlName="inputDataPagamento">
                                    </p-inputMask>
                                </div>
                                <div class="cell">Forma Pagamento: </div>
                                <div class="cell">
                                    <p-dropdown [options]="formasPagamento" optionLabel="nome"                                    
                                        [(ngModel)] = "contaCadastro.formaPagamento"
                                        formControlName="comboFormaPagamento"
                                        scrollHeight="350px"
                                        #inputTipoConta
                                        [filter]="true"
                                        [resetFilterOnHide]="true"
                                        [style]="{'width':'300px'}">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">Valor Pago: </div>
                                <div class="cell">
                                    <input type="text" pInputText
                                    (keyup)="maskaraMoeda($event)"
                                    (onblur)="maskaraMoeda($event)"
                                    [(ngModel)]="contaCadastro.valorPago"
                                    formControlName="inputValorPago"/>
                                </div>
                            </div>
                        </div> 
                        <div class="centerText">
                            <button icon="pi pi-save" pButton type="button" label="Salvar"
                                class="ui-button-raised ui-button-success"
                                [disabled]="!contaForm.valid" type="submit" 
                                (click)="inputCodigoBarra.focus()">
                            </button>
                        </div>
                    </form> 
                </div>
                <div class="cell" *ngIf="contaCadastro.tipoConta.contaCartao">
                    <p-divider layout="vertical"></p-divider>
                </div>  
                <div class="cell" *ngIf="contaCadastro.tipoConta.contaCartao">

                    <div class="table">
                        <div class="row">
                            <div class="cell">
                                <p-divider>Lançamento conta cartão</p-divider>
                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="cell">
                                
                                Data:
                                <p-inputMask mask="99/99/9999" characterPattern="[0-9]"
                                    [size]="5"
                                    [style]="{'width':'70px'}"
                                    [(ngModel)]="lancamentoContaCartaoCadastro.data">
                                </p-inputMask>
                                Valor: 
                                <input type="text" pInputText
                                    size="10"
                                    (keyup)="maskaraMoeda($event)"
                                    (onblur)="maskaraMoeda($event)"
                                    [style]="{'width':'100px'}"
                                    [(ngModel)]="lancamentoContaCartaoCadastro.valor"/>
                                Parcelas:
                                <p-inputMask mask="99" [autoClear]="false"
                                    [style]="{'width':'50px'}"
                                    [(ngModel)]="lancamentoContaCartaoCadastro.parcela"
                                    slotChar="">
                                </p-inputMask>
                                /
                                <p-inputMask mask="990" [autoClear]="false"
                                    [style]="{'width':'50px'}"
                                    [(ngModel)]="lancamentoContaCartaoCadastro.totalParcela"
                                    slotChar="">
                                </p-inputMask>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                Fornecedor:
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                
                                <p-dropdown [options]="fornecedores" optionLabel="nome"                                    
                                    [(ngModel)] = "lancamentoContaCartaoCadastro.fornecedor"
                                    scrollHeight="350px"
                                    [filter]="true"
                                    [style]="{'width':'330px'}"
                                    [resetFilterOnHide]="true">
                                </p-dropdown>
                                <button type="button" pButton pRipple>
                                    <i class="pi pi-plus" style="line-height: 1.25;"></i>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                            
                </div>
            </div>
        </div>          
    </p-tabPanel>
</p-tabView>
{{contaCadastro | json}}