
    <input type="text" 
        pInputText 
        [formGroup]="formGrp"
        (keyup)="formatEvent($event)" 
        [(ngModel)]="modelNg"
        (ngModelChange)="inputValueChange.emit(modelNg)"
        [style]="{'width': width, 'text-align': 'right'}"
        [formControl]="formCtr"
        [placeholder]="placeHolder"
        *ngIf="formField"/>

    <input type="text" 
        pInputText 
        (keyup)="formatEvent($event)"
        [(ngModel)]="modelNg"
        (ngModelChange)="inputValueChange.emit(modelNg)"
        [style]="{'width': width, 'text-align': 'right'}"
        [placeholder]="placeHolder"
        *ngIf="!formField"/>
