<p class="title-bar-1">Despesas</p>
<!-- <div class="table">
    <div class="row">
        <div class="cell">Tipo Despesa: </div>
        <div class="cell">
            <p-dropdown [options]="tiposDespesa" optionLabel="nome" optionValue="value" 
            [style]="{'width':'200px'}">
            </p-dropdown>
        </div>
    </div>
</div> -->
<p-table [value]="despesas" responsiveLayout="scroll"
    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [paginator]="true" 
    [rows]="pageNumber" 
    [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th pSortableColumn="id">Id
                <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="tipoDespesa.value">Tipo Despesa
                <p-sortIcon field="tipoDespesa.value"></p-sortIcon></th>
            <th pSortableColumn="data">Data
                <p-sortIcon field="data"></p-sortIcon></th>
            <th pSortableColumn="fornecedor.nome">Fornecedor
                <p-sortIcon field="fornecedor.nome"></p-sortIcon></th>
            <th pSortableColumn="formaPagamento.value">Forma pagamento
                <p-sortIcon field="formaPagamento.value"></p-sortIcon></th>
            <th>Valor</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-despesa>
        <tr>
            <td>{{despesa.id}}</td>
            <td>{{despesa.tipoDespesa.nome}}</td>
            <td style="text-align: center;">{{despesa.data | date:'dd/MM/yyyy'}}</td>
            <td>{{despesa.fornecedor.nome}}</td>
            <td>{{despesa.formaPagamento.nome}}</td>
            <td style="text-align: right;">{{despesa.valor | currency:'BRL'}}</td>
        </tr>
    </ng-template>
</p-table>
