<div class="table">
    <div class="row">
        <div class="cell">
            <form [formGroup]="contaForm" (ngSubmit)="onSubmitForm(contaForm.value)">
                <div class="table">
                    <div class="row">
                        <div class="cell">Código de Barras: </div>
                        <div class="cell">
                            <p-inputMask mask="99999999999999999999999999999999999999999999999"
                            [(ngModel)]="contaRegistration.codigoBarra"
                            formControlName="inputCodigoBarra"
                            #inputCodigoBarra
                            [maxlength]="48" [size]="55" [autoClear]="true" slotChar="*">
                            </p-inputMask>
                            <p-message severity="error" text="Código de Barras obrigatória"
                                        *ngIf="!contaForm.controls['inputCodigoBarra'].valid
                                        && contaForm.controls['inputCodigoBarra'].dirty">
                            </p-message>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">Número: </div>
                        <div class="cell">
                            <input type="text" pInputText [size]="30" 
                            [(ngModel)]="contaRegistration.numero"
                            formControlName="inputNumero"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">Tipo Conta: </div>
                        <div class="cell">
                            <combo-tipo [formGrp]="contaForm"
                                [formCtr]="comboTipoConta"
                                (inputValueChange)="contaRegistration.tipoConta = $event"
                                [modelNg]="contaRegistration.tipoConta"
                                [arrValues]="tiposConta"
                                [optLabel]="'nome'"
                                #inputTipoConta>
                            </combo-tipo>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">Emissão: </div>
                        <div class="cell">
                            <input-data [formGroup]="contaForm"
                                [formCtr]="inputEmissao"
                                (inputValueChange)="contaRegistration.emissao = $event"
                                [modelNg]="contaRegistration.emissao">
                            </input-data>
                            Vencimento: 
                            <input-data [formGroup]="contaForm"
                                [formCtr]="inputVencimento"
                                (inputValueChange)="contaRegistration.vencimento = $event"
                                [modelNg]="contaRegistration.vencimento">
                            </input-data>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">Parcelas: </div>
                        <div class="cell">
                            <p-inputMask mask="99" [autoClear]="false"
                                            [style]="{'max-width': '60px'}"
                                            [(ngModel)]="contaRegistration.parcela"
                                            formControlName="inputParcela"
                                            slotChar="">
                            </p-inputMask> /
                            <p-inputMask mask="99" [autoClear]="false"
                                            [style]="{'max-width': '60px'}"
                                            [(ngModel)]="contaRegistration.totalParcela"
                                            formControlName="inputTotalParcela"
                                            slotChar="">
                            </p-inputMask>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">Valor: </div>
                        <div class="cell">
                            <input-money [formGroup]="contaForm"
                                [formCtr]="inputValor"
                                (inputValueChange)="contaRegistration.valor = $event"
                                [modelNg]="contaRegistration.valor">
                            </input-money>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">Obs: </div>
                        <div class="cell">
                            <input type="text" pInputText
                            [(ngModel)]="contaRegistration.obs"
                            formControlName="inputObservacao"
                            size="48"/>
                        </div>
                    </div>
                </div>
                <p-divider>Pagamento</p-divider>
                <div class="table">
                    <div class="row">
                        <div class="cell">Data Pagamento: </div>
                        <div class="cell">
                            <input-data [formGroup]="contaForm"
                                [formCtr]="inputDataPagamento"
                                (inputValueChange)="contaRegistration.dataPagamento = $event"
                                [modelNg]="contaRegistration.dataPagamento">
                            </input-data>
                        </div>
                        <div class="cell">Forma Pagamento: </div>
                        <div class="cell">
                            <combo-tipo [formGrp]="contaForm"
                                [formCtr]="comboFormaPagamento"
                                (inputValueChange)="contaRegistration.formaPagamento = $event"
                                [modelNg]="contaRegistration.formaPagamento"
                                [arrValues]="formasPagamento"
                                [optLabel]="'nome'"
                                #inputFormaPagamento>
                            </combo-tipo>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">Valor Pago: </div>
                        <div class="cell">
                            <input-money [formGroup]="contaForm"
                                [formCtr]="inputValorPago"
                                (inputValueChange)="contaRegistration.valorPago = $event"
                                [modelNg]="contaRegistration.valorPago">
                            </input-money>
                        </div>
                    </div>
                </div> 
                <div class="centerText">
                    <button icon="pi pi-save" pButton type="button" label="Salvar"
                        class="ui-button-raised ui-button-success"
                        [disabled]="!contaForm.valid" type="submit" 
                        (click)="inputCodigoBarra.focus()">
                    </button>
                </div>
            </form> 
        </div>
        <div class="cell" 
            *ngIf="contaRegistration.tipoConta && contaRegistration.tipoConta.contaCartao">
            <p-divider layout="vertical"></p-divider>
        </div>  
        <div class="cell" style="vertical-align: top;" 
            *ngIf="contaRegistration.tipoConta && contaRegistration.tipoConta.contaCartao">

            <div class="table">
                <div class="row">
                    <div class="cell">
                        <p-divider>Lançamento conta cartão</p-divider>
                    </div>
                </div>                        

                <div class="row">
                    <div class="cell">
                        <span #lccData>
                        <input-data [width]="'90px'" 
                            
                            [placeHolder]="'Data'" 
                            style="margin-right: 5px;"
                            [formField]="false"
                            [placeHolder]="'data'"
                            (inputValueChange)="lancamentoContaCartaoRegistration.data = $event"
                            [modelNg]="lancamentoContaCartaoRegistration.data">
                        </input-data>
                        </span>
                        
                        <input-money [placeHolder]="'Valor'"
                            [formField]="false"
                            (inputValueChange)="lancamentoContaCartaoRegistration.valor = $event"
                            [modelNg]="lancamentoContaCartaoRegistration.valor">
                        </input-money>

                        Parcelas:
                        <p-inputMask mask="99" [autoClear]="false"
                            [style]="{'width':'40px'}"
                            placeholder="00"
                            [(ngModel)]="lancamentoContaCartaoRegistration.parcela"
                            slotChar="">
                        </p-inputMask>
                        /
                        <p-inputMask mask="99" [autoClear]="false"
                            [style]="{'width':'40px'}"
                            placeholder="00"
                            [(ngModel)]="lancamentoContaCartaoRegistration.totalParcela"
                            slotChar="">
                        </p-inputMask>
                    </div>
                    <div class="cell">
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <combo-tipo
                            (inputValueChange)="lancamentoContaCartaoRegistration.fornecedor = $event"
                            [modelNg]="lancamentoContaCartaoRegistration.fornecedor"
                            [arrValues]="fornecedores"
                            [width]="'100%'"
                            [optLabel]="'nome'">
                        </combo-tipo>
                    </div>
                    <div class="cell">
                        <button type="button" pButton pRipple
                            (click)="addLancamentoContaCartao();lccData.focus()">
                            <i class="pi pi-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="row">
                    <div class="cell">Fornecedor</div>
                    <div class="cell textCenter">Data</div>
                    <div class="cell textCenter">Valor</div>
                    <div class="cell textCenter">Parcelas</div>
                </div>
                <div class="row" *ngFor="let lcc of contaRegistration.lancamentoContaCartao">
                    <div class="cell">{{lcc.fornecedor.nome}}</div>
                    <div class="cell textCenter">{{lcc.data | date: 'dd/MM/yyyy'}}</div>
                    <div class="cell rightText" >{{lcc.valor | currency:'BRL':true:'1.2-2'}}</div>
                    <div class="cell textCenter">{{lcc.parcela}}/{{lcc.totalParcela}}</div>
                </div>
            </div>
                    
        </div>
    </div>
</div> 
{{contaRegistration | json}}