<p class="title-bar-1">Contas</p>
<p-toast></p-toast>
<p-tabView #tabConta 
   (onChange)="setTabCadastroAction(null, tabConta)" 
   [(activeIndex)]="selectedTabIndex">
   <p-tabPanel header="Consulta">
      <app-conta-grid [tiposContaFilter]="tiposConta" 
         [formasPagamentoFilter]="formasPagamento" 
         [loading]="loading"
         (indexTabChange)="setTabCadastroAction($event, tabConta)">
      </app-conta-grid>
   </p-tabPanel>
   <p-tabPanel header="Casdastro">
      <app-conta-form [tiposConta]="tiposConta" 
         [formasPagamento]="formasPagamento" 
         [fornecedores]="fornecedores"
         [contaRegistration]="contaEdtion" 
         [loading]="loading" 
         (submitFormEmmit)="setTabCadastroAction($event, tabConta)">
      </app-conta-form>
   </p-tabPanel>
</p-tabView>
<p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>