/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: #1f2d40;
}

* {
  font-size: 13px;
  font-family: Roboto;
  border-radius: 0px !important;
}

.full {
  height: 100%;
  width: 100%;
}
.centerText{
  text-align: center;
}
.columnExpand {
  max-width: 20px;
}
.columnId {
  text-align: center !important;
  max-width: 45px;
}
.columnValor {
  text-align: right !important;
  max-width: 60px;
}
.columnActionBt{
  text-align: center !important;
  max-width: 25px;
}

.smallBt{
  width: 5px !important; 
  height: 5px !important;
}

/* .columnId .p-inputtext{
    padding: 3px;
    width: 100%;
  } */
.columnDate {
  text-align: center !important;
  max-width: 100px;
}

/* barra de titulo 01*/
.title-bar-1 {
  width: 100%;
  text-align: left;
  padding: 3px 0px 3px 5px;
  margin: 0;
  background-color: #f8f9fa;
}

/*tabela padrao*/
.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}


/*lyout entrada*/
.wrapper {
  height: 100%;
  display: table;
  width: 100%;
}

.main {
  height: 100%;
  display: table;
  width: 100%;
}

.box {
  display: table-cell;
  vertical-align: top;
}

.sidebar {
  width: 100px;
  border-right: 1px solid #dee2e6;
}